.pio/
firmware/.pio/
.pioenvs/
.piolibdeps/
.vscode/
server/.venv/
server/uploads/*
!server/uploads/.gitkeep
*.bin
*.hex
*.elf
.DS_Store
Thumbs.db
server/cough_sound_data
server/models/*.pt
__pycache__/
*.pyc
